In [1]:
import json
import requests
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

In [2]:
url = 'https://lefooding.com/fr/search?type=restaurant&page=1&sort=&per_page=972&total_pages=1'
r = requests.get(url)
print(url, r.status_code)
d = r.json()

https://lefooding.com/fr/search?type=restaurant&page=1&sort=&per_page=972&total_pages=1 200

In [3]:
print(d.keys())
a=d['results']

dict_keys(['pagination', 'facets', 'results', 'preselected_filters'])

In [7]:
lf_df = df = pd.DataFrame.from_dict(json_normalize(a), orient='columns')

In [8]:
lf_df.head()

,address._id,address.city,address.country,address.created_at,address.department,address.position,address.postal_code,address.region,address.street_name_1,address.street_name_2,...,sorted_tags.kitchen,sorted_tags.kitchen_type,sorted_tags.price,sorted_tags.transport,sorted_tags.zeplus,tags,thumbnail,type,url,website
0,5a8af85d42719a7ef000012d,Paris,France,2018-02-19T17:16:29+01:00,Paris,"[48.8659805, 2.332610299999942]",75001,Région Île-de-France,"33, rue Saint-Roch",,...,[Japonais],[Asiatique],[De 16 à 35 €],"[Pyramides, Tuileries]","[Ouvert le lundi, Antidépresseur, Manger seul ]","[{'category': 'Les plus', 'type': 'zeplus', 'n...",/media/W1siZiIsIjIwMTgvMDIvMTkvMTdfMTZfMjlfNjB...,Restaurant,https://lefooding.com/fr/restaurants/restauran...,
1,59b9b39a42719a406900000a,Paris,France,2017-09-14T00:39:23+02:00,Paris,"[48.8690915, 2.3459585000000516]",75002,Région Île-de-France,"15, rue des Jeûneurs",,...,[Lèche-doigts],NaN,[De 16 à 35 €],"[Bonne Nouvelle, Sentier]","[Ouvert le dimanche, Ouvert le lundi, Take-awa...","[{'category': 'Les plus', 'type': 'zeplus', 'n...",/media/W1siZiIsIjIwMTcvMDkvMTQvMDBfMzlfMjJfODA...,Restaurant,https://lefooding.com/fr/restaurants/restauran...,
2,5a1c529242719a260b00002b,Paris,France,2017-11-27T18:59:46+01:00,Paris,"[48.8647367, 2.356092600000011]",75003,Région Île-de-France,"22, rue au Maire",,...,"[Laotien, Thaïlandais, Vietnamien]",[Asiatique],[Moins de 15 €],[Arts et Métiers],"[Ouvert le dimanche, Ouvert le lundi, Take-awa...","[{'category': 'Les plus', 'type': 'zeplus', 'n...",,Restaurant,https://lefooding.com/fr/restaurants/restauran...,
3,5a1d539242719a92c900009a,Paris,France,2017-11-28T13:16:18+01:00,Paris,"[48.8679066, 2.3482688999999937]",75002,Région Île-de-France,"2, rue du Nil",,...,[Taïwanais],[Asiatique],[De 16 à 35 €],[Sentier],"[Ouvert le lundi, Take-away, Antidépresseur]","[{'category': 'Les plus', 'type': 'zeplus', 'n...",/media/W1siZiIsIjIwMTYvMDYvMDgvMTZfMjlfMTRfNzM...,Restaurant,https://lefooding.com/fr/restaurants/restauran...,www.foodi-jia-ba-buay.fr
4,5bfed1a242719a83a2000081,Paris,France,2018-11-28T18:34:26+01:00,Paris,"[48.8504247, 2.339177800000016]",75006,Région Île-de-France,"8, rue Casimir-Delavigne",,...,[Japonais],NaN,[De 36 à 50 €],"[Mabillon, Odéon, Luxembourg]","[Antidépresseur, Faim de nuit, Manger seul ]","[{'category': 'Les plus', 'type': 'zeplus', 'n...",,Restaurant,https://lefooding.com/fr/restaurants/restauran...,

In [6]:
lf_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 972 entries, 0 to 971
Data columns (total 30 columns):
address._id                 972 non-null object
address.city                972 non-null object
address.country             972 non-null object
address.created_at          972 non-null object
address.department          970 non-null object
address.position            971 non-null object
address.postal_code         972 non-null object
address.region              970 non-null object
address.street_name_1       972 non-null object
address.street_name_2       972 non-null object
address.updated_at          972 non-null object
cellphone_num               972 non-null object
cravings                    972 non-null object
essentials                  972 non-null object
extras                      972 non-null object
id                          972 non-null object
name                        972 non-null object
phone_num                   972 non-null object
price                       972 non-null object
sorted_tags.essentials      552 non-null object
sorted_tags.kitchen         969 non-null object
sorted_tags.kitchen_type    88 non-null object
sorted_tags.price           971 non-null object
sorted_tags.transport       535 non-null object
sorted_tags.zeplus          970 non-null object
tags                        972 non-null object
thumbnail                   972 non-null object
type                        972 non-null object
url                         972 non-null object
website                     972 non-null object
dtypes: object(30)
memory usage: 227.9+ KB

In [11]:
target_columns = ["address.city", "address.position", "cravings", "name", "id", "phone_num", "price"]
fooding_df = lf_df[target_columns]
fooding_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 972 entries, 0 to 971
Data columns (total 7 columns):
address.city        972 non-null object
address.position    971 non-null object
cravings            972 non-null object
name                972 non-null object
id                  972 non-null object
phone_num           972 non-null object
price               972 non-null object
dtypes: object(7)
memory usage: 53.2+ KB

In [12]:
fooding_df.head()

,address.city,address.position,cravings,name,id,phone_num,price
0,Paris,"[48.8659805, 2.332610299999942]","[Asiatique, Japonais]",Echizen Soba Togo,5a8af85d42719a7ef000012f,+33 1 73 71 69 23,[De 16 à 35 €]
1,Paris,"[48.8690915, 2.3459585000000516]",[Lèche-doigts],Salatim,59b9b39a42719a406900000c,+33 1 42 36 30 03,[De 16 à 35 €]
2,Paris,"[48.8647367, 2.356092600000011]","[Asiatique, Laotien, Thaïlandais, Vietnamien]",Au Bon Pho,5a1c529242719a260b00002c,+33 1 42 72 88 32,[Moins de 15 €]
3,Paris,"[48.8679066, 2.3482688999999937]","[Asiatique, Taïwanais]",Foodi Jia-Ba-Buay,5a1d539242719a92c9000094,+33 1 45 08 48 28,[De 16 à 35 €]
4,Paris,"[48.8504247, 2.339177800000016]",[Japonais],Sagan,5bfed1a242719a83a2000082,+33 6 69 37 82 19,[De 36 à 50 €]

In [ ]:
# manque la transformation vers un fichier fooding.csv

In [13]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.9.3

In [37]:
import sqlite3
conn = sqlite3.connect('restau.db')

df = pd.read_csv('fooding.csv')
df.to_sql('restau', conn, if_exists='replace', index=False)

In [23]:
df.specialite1.value_counts()

Bistrot                                     158
Cuisine d'auteur                            143
Cuisine du marché                            79
Asiatique                                    75
Néobistrot                                   74
Café / Coffee Shop                           49
Biocool                                      43
Italien                                      43
Japonais                                     28
Poissons et fruits de mer                    26
Bar à vins / Cave à manger                   25
Tapas                                        22
Terroir                                      17
Méditerranéen                                15
Planches / Assiettes froides                 13
Chinois                                      13
Lèche-doigts                                 12
Pizzas                                        9
Burgers                                       9
Casse-croûte                                  9
Crêperie                                      8
Salon de thé / Pâtisserie                     7
Néobrasserie                                  7
Sandwichs / Bagels                            6
Vietnamien                                    6
Nourritures mondaines                         6
Ferme-auberge                                 5
Mexicain                                      5
Coréen                                        5
Guinguette                                    5
Brasserie                                     4
Snack / Tartes / Salades / Soupes / Bols      4
Viandes / Grillades                           4
Alsacien                                      3
Sud-Ouest                                     3
Kebabs                                        2
Végétarien                                    2
Grec                                          2
Maghreb                                       2
Thaïlandais                                   2
Argentin                                      2
Libanais                                      2
Israélien                                     2
Arménien                                      1
Afghan                                        1
Espagnol                                      1
Indien / Pakistanais / Sri-lankais            1
Africain                                      1
Yiddish                                       1
Géorgien                                      1
Syrien                                        1
Roumain                                       1
Taïwanais                                     1
Table d'hôte                                  1
Laotien                                       1
Tunisien                                      1
Marocain                                      1
Name: specialite1, dtype: int64

In [50]:
SPECIALITE = 'Asiatique'
CP = '75013'
prix = "Moins de 15 €"

cur = conn.cursor()
cur.execute("SELECT * FROM restau WHERE cp ={} and prix = '{}' and specialite1 = '{}' or specialite2 = '{}' or specialite3 = '{}'".format(CP, prix, SPECIALITE,SPECIALITE,SPECIALITE))
rows = cur.fetchall()
for row in rows:
    print(row)

('Thieng Heng', 'Restaurant', 75013.0, '50, avenue d’Ivry \u2028', 48.82374420000001, 2.3652822000000238, '+33 1 45 82 92 95', 'Moins de 15 €', 'Asiatique', 'Vietnamien', 'Sandwichs / Bagels')
('Ngoc Xuyen Saigon ', 'Restaurant', 75013.0, '4, rue Caillaux ', 48.822903200000006, 2.3617758000000317, '+33 1 44 24 14 31', 'Moins de 15 €', 'Asiatique', 'Vietnamien', None)

In [52]:
# stocker les résultats de la requête dans un df
new_df = pd.DataFrame(rows, columns=['Nom','Type','CP', 'Adresse', 'Latitude', 'Longitude', 'Telephone','Prix', 'Specialite1', 'Specialite2', 'Specialite3'])

In [56]:
new_df.head()

,Nom,Type,CP,Adresse,Latitude,Longitude,Telephone,Prix,Specialite1,Specialite2,Specialite3
0,Thieng Heng,Restaurant,75013.0,"50, avenue d’Ivry",48.823744,2.365282,+33 1 45 82 92 95,Moins de 15 €,Asiatique,Vietnamien,Sandwichs / Bagels
1,Ngoc Xuyen Saigon,Restaurant,75013.0,"4, rue Caillaux",48.822903,2.361776,+33 1 44 24 14 31,Moins de 15 €,Asiatique,Vietnamien,None

In [57]:
import folium
from folium.plugins import MarkerCluster

rest_map = folium.Map(location=[48.8,2.35],zoom_start=10, tiles='OpenStreetMap')

marker_cluster = folium.plugins.MarkerCluster().add_to(rest_map)

for i in new_df.index:
    marker = folium.Marker(location=(round(new_df['Latitude'].loc[i],6),round(new_df['Longitude'].loc[i],6)), popup=(str(new_df['Nom'].loc[i]) +' ||| '+'Telephone'+str(new_df['Telephone'].loc[i],))).add_to(marker_cluster)

rest_map.save('new_carte.html')